/*Here goes the custom CSS*/
body {
  background: #e3e3e3;
}

.column {
  outline: 1px solid #f00;
  overflow: hidden;
}

.row {
  max-width: 100%;
}

.rows-1 {
  height: 10em;
}

.rows-2 {
  height: 20em;
}

.rows-3 {
  height: 30em;
}

.rows-4 {
  height: 40em;
}

.component-header.rows-1{
  background: #000;
  height: 102px;
  padding: 10px 0 0 10px;
}
